/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Styles */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Apply hover effect to each individual link */
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px; /* Add padding to make the hover effect more noticeable */
    transition: background-color 0.3s ease; /* Adding transition for smooth effect */
}

/* Apply hover effect to each individual link */
nav a:hover {
    background-color: #555; /* Change to your desired hover background color */
}

/* About Section Styles */
.about {
    /* Add styles as needed */
}

/* Services Section Styles */
.services {
    /* Add styles as needed */
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Styles - Add as needed */
